{% extends 'base.html' %}
{% block otherpage %}
<html>
<head>
	<title>	About Us</title>
</head>
	
	<body>
		<center> <h1>Appointment Master </h1>
		<br />
		<br />
	<h2> <font color="Blue"><u> About Us </u> </font></h2>
	<center>
		<h3 style="width:30%;">


			Appointment master is popular organization to provide better service to the users.
			In this users and service provider included. Users and service provider both use this system functionality.
			<br>
			In this service provider apply your service and also add charges they have taken by the users.
			<br>
			Users use this system that time they find which type of service need that type of service provider choose and put an appointment.
			
	
	
	</h3></center>
	
	</body>
</html>
{% endblock %}