{% extends 'base.html' %}
{% block otherpage %}
<html>
<head>
	<title>	Contact Us</title>
</head>
	
	<body>
		
		<center> <h1>Appointment Master </h1>
	
	<br />
	<br />

	<h2> <font color="Blue"><u> Contact Us </u> </font></h2>
	<br /><br />
	<center><h3>Appointment Master: Ahmedabad</h3>
	<h3>Iscon Center, Shivranjani Cross Road, Ahmedabad</h3>
	<h3>Contact No:7684595264</h3>
	<h2>------------------</h2>
	<center><h3>Appointment Master Branch:Bhavnagar</h3>
	<h3>Jalaram Complex, M.G.Road, Near Delux Panshop, Bhavnagar</h3>
	<h3>Contact No:8694754241</h3>
	<h2>------------------</h2>
	<h3>Appointment Master Branch: Rajkot </h3>
	<h3>S.S.Complex, Near Indira Circle,150 ft Ring Road, Rajkot</h3>
	<h3>Contact No:9584564124</h3></center>
	
	
</body>
</html>
{% endblock %}